<div class="comment-photo"></div>
<div class="comment-info">
   <div class="comment-content"><span class="blue"><%= comment.get("user").username %></span>
     <%= comment.get("comment") %> </div>
  <div class="comment-links">
    <time><%= humanized_time_span(comment.escape("created_at")) %></time> -
      <form class="like">
         <input type="submit" value="Like">
      </form> -
      <form class="delete-comment">
        <input type="submit" value="Delete">
     </form>
  </div>
</div>

