<div class="comment-photo"></div>
<div class="comment-info">
   <div class="comment-content"><span class="blue">esop1</span> 
     COMMENT CONTENT</div>
  <div class="comment-links">
    <time>13 hours ago</time> -  
      <form>
         <input type="submit" value="Like">
      </form> - 
      <form>
        <input type="submit" value="Delete">
     </form>
  </div>
</div>

