<div class="comment-photo"></div>
<div class="the-form">
  <form class="new-comment">
		<input type="hidden" name="comment[post_id]" value=<%= post.id %>>
		<textarea name="comment[comment]" placeholder="Write a comment..."></textarea>
		<input type="submit" value="Add Comment...">
  </form>
</div>
