<div class="comment-photo"></div>
<div class="the-form group">
  <form class="group">
<textarea name="comment[comment]" placeholder="Write
 a comment..."></textarea>
  </form>
</div>

<style>

div.comment-form {
  margin-top:10px;
  height: 100px;
  position: relative;
  height: 30px;
}

.comment-photo {
  float: left;
  border: 1px solid black;
}

textarea[name="comment[comment]"] {
  position: absolute;
  top: 0;
  border: 1px solid grey;
  height: 100%;
  width: 445px;
}
</style>