
<div class="photo"></div>
<div class='post-info'>
  <div class="post-author"><%= post.get("user").username %></div>
  <div class="post-content"><%= post.escape("content") %></div>
  <div class="links">
    <form class="like">
      <input type="submit" value="Like">
    </form> -
    <a href="#">Comment</a> -
    <time><%= humanized_time_span(post.escape("created_at")) %></time>
  </div>
  <div class="post-likes"><p>Somebody liked this.</p></div>
</div>

