<div class="nav">NavBar: Add All Links
  <ul>
    <li><a href="<%= goals_diet_profile_url %>">Goals</a></li>
    <li><a href="#">Check-in</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">My Blog</a></li>
    <li><a href="#">Friends</a></li>
</div>

<div class="summary">Your Daily Summary
  <button class="add-food">Add Food</button>
  <button class="add-exercise">Add Exercise</button>
  Goal | Food - Exercise = Net
</div>


<style>

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.summary {
  background: RGB(67, 94, 255);
  color: white;
}

.nav {
  background: RGB(112, 207, 255);
  height: 100%;
  font: white;
}

</style>