<div class="nav">NavBar: Add All Links
  <ul>
    <li><a href="<%= goals_diet_profile_url %>">Goals</a></li>
    <li><a href="#">Check-in</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">My Blog</a></li>
    <li><a href="#">Friends</a></li>
</div>

<div class="summary">Your Daily Summary
  <button class="add-food">Add Food</button>
  <button class="add-exercise">Add Exercise</button>
  <br>
  <table>
  <div class="total"><%= @net_cal - @food.calories + @exercise.calories %></div>
  <p>calories remaining</p>
  </table>
  <p><%= @net_cal %> | </p>
  <p>Goal | Food - Exercise = Net</p>
</div>



<style>

div {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.summary {
  background: RGB(67, 94, 255);
  color: white;
  height: 100%;
}

.nav {
  background: RGB(112, 207, 255);
  height: 100%;
  font: white;
}

.total {
  color: RGB(0,255,51);
  font-size: 30px;
}

</style>