<div class="diary-head">
  <p>Your Food Diary For <%= Date.today %></p>
</div>

<div class="table">
<table>
  <thead>
  </thead>
    <tr class="heading">
      <th class="meal">Breakfast</th>
      <th class="macro">Calories</th>
      <th class="macro">Carbs</th>
      <th class="macro">Fat</th>
      <th class="macro">Protein</th>
      <th class="macro">Sodium</th>
      <th class="macro">Sugar</th>
      <th class="delete"></th>
    </tr>
  <tbody>
    <tr>
      <td class="links">
        <a href="#">Add Food</a>
      </td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>

    <tr class="heading">
      <td class="meal">Lunch</td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>

    <tr>
      <td class="links">
        <a href="#">Add Food</a>
      </td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>

    <tr class="heading">
      <td class="meal">Dinner</td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>

    <tr>
      <td class="links">
        <a href="#">Add Food</a>
      </td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>

    <tr class="heading">
      <td class="meal">Snack</td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>

    <tr>
      <td class="links">
        <a href="#">Add Food</a>
      </td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="macro"></td>
      <td class="delete"></td>
    </tr>


  </tbody>
</table>
</div>

<style>

body, table, thead, tfoot, tbody, tr, td, th {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.diary-head {
  text-align: center;
  color: RGB(15,68,111);
  font-size: 20px;
  border-bottom: 3px solid RGB(224,224,224);
}

.table {
  border: 1px solid black;
  width: 690px;
  margin: 20px auto;
}


th.macro {
  background: RGB(14, 64, 113);
  color: white;
  font-size: 12px;
  padding: 15px 10px;
  font-family: sans-serif;
}

.meal {
  text-align: left;
  color: RGB(14, 64, 113);
  font-size: 20px;
  font-family: sans-serif;
  width: 300px;
  font-weight: bold;
}

th, td {
  border: 1px solid black;
}


</style>