<div class="nav group">
  <ul>
    <li class="linkylinks selected"><a class="nav" href="/#">MY HOME</a></li>
    <li class="linkylinks"><a class="nav" href="/#diary/">FOOD</a></li>
    <li class="linkylinks"><a class="nav" href="#reports">REPORTS</a></li>
    <li class="linkylinks"><a class="nav" href="#">COMMUNITY</a></li>
    <!-- <li class="linkylinks"><a class="nav" href="#">BLOG</a></li> -->
  </ul>
</div>
<div class="nav2 group">
  <ul>
    <li class="linkylinks"><a class="nav" href="#/">Home</a></li>
    <li class="linkylinks"><a class="nav" href="/#goals">Goals</a></li>
    <li class="linkylinks"><a class="nav" href="#checkin">Check-in</a></li>
    <li class="linkylinks"><a class="nav" href="#profile">Profile</a></li>
  </ul>
</div>