<div class="nav group">
  <ul>
    <li class="linkylinks selected"><a class="nav" href="/#">MY HOME</a></li>
    <li class="linkylinks"><a class="nav" href="/#foods">FOOD</a></li>
    <li class="linkylinks"><a class="nav" href="#">EXERCISE</a></li>
    <li class="linkylinks"><a class="nav" href="#">REPORTS</a></li>
    <li class="linkylinks"><a class="nav" href="#">COMMUNITY</a></li>
    <li class="linkylinks"><a class="nav" href="#">BLOG</a></li>
  </ul>
</div>
<div class="nav2 group">
  <ul>
    <li class="linkylinks"><a class="nav" href="#">Home</a></li>
    <li class="linkylinks"><a class="nav" href="/#goals">Goals</a></li>
    <li class="linkylinks"><a class="nav" href="#">Check-in</a></li>
    <li class="linkylinks"><a class="nav" href="#">Profile</a></li>
    <li class="linkylinks"><a class="nav" href="#">MyBlog</a></li>
  </ul>
</div>
