
<div class="check-in"><h2>Check-In</h2></div>

<form action="" method="post">
<h3>Enter today's weight: </h3>
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
</form>


<style>

.check-in {
  border-bottom: 3px solid gray;
}

</style>