/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* RESET */

html, body, div, ul, li, a, img, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

html {
	height: 100%;
	width: 100%;
}

body {
	min-height: 100%;
	min-width: 100%;
}

span.red {
	color: red;
}

/* DASHBOARD SHOW */

textarea, input[value="Share"], input[name="comment[comment]"], input[value="Like"], input[value="Delete"],
textarea {
  display: inline-block;
  box-sizing: content-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

ul {
  list-style: none;
}

ul.daily-links {
	width: 100px;
	float: right;
	position: relative;
	top: 0px;
	right: 100px;
	height: 10px;
}

ul.daily-links li {
	float:left;
	margin-top: 20px;
}

ul.daily-links li.first {
	margin-top: 0px;
}

.image-holder, .photo {
  background: white;
  background-size: contain;
}

.all-content {
  width: 600px;
  font-family: sans-serif;
  margin: 30px auto;
  height: 100%;
}

.feed-header {
  margin-top: 30px;
  padding: 10px;
  background: RGB(14, 64, 113);
  color: white;
  font-family: sans-serif;
}

.feed-form {
  background: RGB(245, 245, 245);
  padding: 10px 10px;
  height: 70px;
  margin: auto;
}

.post-block {
  font-family: sans-serif;
  font-size: 14px;
  border-bottom: 1px solid RGB(229, 229, 229);
  padding: 20px 10px;
	position: relative;
}

.post-block .delete-post {
	position: absolute;
	right: 20px;
	top: 25px;
}

.post-block .delete-post:hover {
	cursor: pointer;
}

.post-block > .photo {
  border: 1px solid red;
  float: left;
  width: 48px;
  height: 48px;
}

.post-block > .post-info {
  float: right;
  width: 500px;
}

.post-author, .post-content, .links, .post-likes {
  margin-bottom: 5px;
}

.post-block > .post-info > .post-author {
  color: RGB(1, 116, 191);
  font-weight: bold;
}

.post-block > .post-info > .links {
}

input[value="Like"]:hover, input[value="Delete"]:hover {
  cursor: pointer;
  display: inline-block;
  color: orange;
}

form[class="like"], form[class="delete-comment"] {
  width: 25px;
  display: inline-block;
  color: RGB(1, 116, 191);
}

.post-block > .post-info > .links > a {
  color: RGB(1, 116, 191);
}

.post-block > .post-info > .links > a:hover, .comment-links {
  color: orange;
}

form[class="like"]:hover {
  color: orange;
}

time {
  font-size: 12px;
  color: RGB(153, 153, 153);
}

div.submit-post {
	width: 10px;
	position: relative;
	top: 0px;
	right: 0px;
}

input[name="post[content]"] {
  margin-top: 20px;
  width: 490px;
  height: 30px;
  background: white;
  border: 1px solid RGB(230, 230, 230);
	font-size: 18px;
}

input[value="Share"] {
  color: white;
  background: RGB(102, 194, 90);
  border-radius: 5px;
  border: 1px solid RGB(67, 128, 59);
  padding: 5px 10px;
  font-size: 12px;
  font-family: sans-serif;
}


input[value="Share"]:hover {
	cursor: pointer;
}

div.comment-block {
  padding: 5px 0;
  border-bottom: 1px solid RGB(229,229,229);

}

div.comment-block > .comment-photo {
  float: left;
  height: 30px;
  width: 30px;
  border: 1px solid RGB(230, 230, 230);
}

div.comment-block > div.comment-info {
  float: right;
  width: 450px;
}

div.comment-block > div.comment-info > div.comment-content > span.blue,
div.comment-block > div.comment-info > div.comment-content > span.blue:visited
{
  text-decoration: none;
  color: RGB(1, 116, 191);
}

div.comment-block > div.comment-info > div.comment-content > span.blue:hover {
  color: orange;.
}

div.comment-block > div.comment-info > div.comment-links {
  color: RGB(1, 116, 191);
}

.summary-box {
  height: 260px;
  width: 100%;
  background: RGB(241,241,241);
  box-shadow: 2px 5px 5px  #888888;
}

.news_feed {

  height: 200px;
  width: 100%;
  border: 1px solid black;
}

.the-form {
  padding: 10px 5px;
}

textarea[name="comment[comment]"] {
  width: 490px;
  height: 20px;
  background: white;
  border: 1px solid RGB(230, 230, 230);
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

.image-holder  {
  height: 122px;
  width: 110px;
  float: left;
  margin: 0 15px;
  border: 1px solid black;

}


div.add-food {
	position:relative;
		width:100px;
		color:#FFF;
		display:block;
		text-decoration:none;
		border-radius:5px;
		border:solid 1px #006600;
		background:RGB(57, 164, 54);
		text-align:center;
		padding:10px 30px;
		float: right;
		margin-top: 10px;
		margin-right: 100px;
		-webkit-transition: all 0.1s;
		-moz-transition: all 0.1s;
		transition: all 0.1s;
		-webkit-box-shadow: 0px 5px 0px #006600;
	        -moz-box-shadow: 0px 5px 0px #006600;
	        box-shadow: 0px 5px 0px #006600;
				}
				
.add-food:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:3px;
}

.total {
  color: RGB(57, 164, 54);
  font-size: 55px;
  font-family: sans-serif;
  font-weight: bold;
  height: 70px;
	height: 50px;
}

.total p {
  color: RGB(57, 164, 54);
  font-size: 55px;
  font-family: sans-serif;
  font-weight: bold;
}

.outer-wrap {
  background: RGB(244, 244, 244);
  color: white;
  height: 100%;
  display: block;
}

.head {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 15px;
  background: RGB(14, 64, 113);
  color: white;
  font-family: sans-serif;
}

.equation {
  display: block;
  color: black;
  height: 30px;
  width: 300px;
  float: left;
/*	border: 1px solid red;*/
	margin-top: 10px;
	font-size: 20px;
}

.num {
  float: left;
}

.desc {
  font-size: 11px;
}

.value, .symbol {
  float: left;
}

.value {
/*  border: 1px solid red;*/
/*  padding-right: 40px;*/
  font-family: sans-serif;
  color: RGB(83, 83, 83);
}

.symbol{
/*  padding-right: 40px;*/
	padding: 0 10px;
}

p {
  color: black;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 1;
}

.progress {
  float: left;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 20px;
	display: relative;
}

.link {
  float :left;
  padding: 6px;
  list-style-type: none;
}

.green {
  color: green;
}

.news-feed {
  margin-top: 10px;
}

span.blue {
	color: RGB(24, 44, 97);
	font-size: 15px;
	font-family: Arial;
}

/* HEADERS */

a.nav {
  text-decoration: none;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

a.nav:visited { text-decoration: none; color:white; }

img {
  height: 100%;
  width: 100%;
}


div.nav {
  background: RGB(25, 116, 190);
  color: white;
  font-family: sans-serif;
  padding-left: 200px;
}

div.nav2 {
  color: white;
  font-family: sans-serif;
  padding-left: 200px;
  background: RGB(27, 62, 113);
}

li.selected {
  background: RGB(27, 62, 113);
}


li.linkylinks {
  float :left;
  padding: 6px;
  list-style-type: none;
  color: white;
  padding: 13px 26px;
}

li.linkylinks:visited {
  color: white;
}

li.linkylinks:hover {
    background: RGB(27, 62, 113);
}