// Place all the styles related to the DiaryPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, table, thead, tfoot, tbody, tr, td, th {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}



.diary-head {
  text-align: center;
  color: RGB(15,68,111);
  font-size: 20px;
  border-bottom: 3px solid RGB(224,224,224);
}

.table, .totals {
 /* border: 1px solid black;*/
  width: 690px;
  margin: 20px auto;
}

.totals {
/*  border: 1px solid black;*/
  height: 90px;
}

th.macro {
  background: RGB(14, 64, 113);
  color: white;
  padding: 15px 10px;
  font-family: sans-serif;
}



.meal {
  text-align: left;
  color: RGB(14, 64, 113);
  font-size: 20px;
  font-family: sans-serif;
  width: 300px;
  font-weight: bold;
}

th, td {
/*  border: 1px solid black;*/
  border-bottom: 1px solid RGB(224,224,224);
  text-align: center;
  font-family: Arial;
  font-size: 12.4px;
  padding: 4px 10px 4px 10px;
  width: 46px;
  
}

.first_col {
  text-align: left;
}

.links {
  padding-right: 140px;

}

.data-entry, .total-col, .remaining {
  background: RGB(244, 244, 244);
}

.totals {
  font-weight: bold;
}

.total-type {
  background: RGB(14, 64, 113);
  color: white;
  font-size: 12px;
  padding: 15px 10px;
  font-family: sans-serif;
}

.total-tabulations {
  float: right;
  margin-right: 30px;
}

.total-label {
  text-align: right;
  border: 0;
  width: 200px;
}

.total-label, .total-col, .remaining {
  font-size: 15px;

}

.remaining {
  color: green;
}

input[type=submit] {
  -webkit-appearance: none;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  background: red;
  color: white;
  padding: none;
  margin: none;
  width: auto;
  height: auto;
  font-size: 10px;
  font-weight: bold;
}

input[type=submit]:hover {
  cursor: pointer;
}

table {
  border-spacing: 1px 0;
}
