<div class="content">
  <div class="form group">
    <h3>Search our food database by name:</h3>
    <form class="search">
    <input type="text" name="query">
		<input type="submit" value="Search">
    </form>
  </div>

  <div class="bottom">
    <div class="results">
      <ul>
        
      </ul>
    </div>

    <div class="nutrition-label">
    </div>
  </div>
</div>

