

	<div id="header" >
	<div class="logo group">
		<a href="#"><img src="<%= asset_path 'YourFitnessPal-logo.png' %>" alt="Logo"></a>
	</div>
		<% if signed_in? %>
	<div id="signout"><%= button_to "Sign Out", session_url, :method => :delete %></div>
	<% end %>
	</div>


<style>

div#header {
	background: url(<%= asset_path ("grey-background.jpeg") %>);
	height: 30px;
}

.group:after {
	clear: both;
	content: "";
	display: block;
}

div#signout > form input[type="submit"] {
	-webkit-appearance:none;
	color: white;
	background: none;
	cursor: pointer;
	border: none;
}

div#signout > form input[type="submit"]:hover {
	color: red;
}

div#signout {
	float: right;
	margin-top: 4px;
	margin-right: 60px;
}

.logo {
	padding-top: 4px;
	float: left;
	width: 200px;
	height: 25px;
	margin-left: 50px;
}

.logo img {
	height: 100%;
	width: 100%;
}

</style>